# Игнорировать системные файлы Mac
.DS_Store

# Игнорировать папку node_modules
node_modules

# Игнорировать все текстовые файлы
*.txt

# Игнорировать файлы, связанные с ключами API
.env

# Игнорировать конфигурационные файлы SASS
.sass-cache