<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <div class="course">
        <h1>Название курса: <div id='data-container' name="data-container"></div></h1>
        <H2>ФИО преподавателя: Беднякова Татьяна Михайловна</H2>
        <button>Список студентов</button>
    </div>

</body>
</html>