<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавление текста</title>
</head>
<body>
  <h1>Добавить текст в коллекцию</h1>
  <form action="/addText" method="POST">
    <input type="text" name="text" placeholder="Введите текст">
    <button type="submit">Добавить текст</button>
  </form>
</body>
</html>