<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
    <!-- <link rel="stylesheet" href="../public/style.css"> -->
</head>
<body>
    <div class="course">
        <h1>Название курса: ТРПО</h1>
        <H2>ФИО преподавателя: Беднякова Татьяна Михайловна</H2>
        <button>Список студентов</button>
    </div>
    <div class="course">
        <h1>Название курса: ТРПО</h1>
        <H2>ФИО преподавателя: Беднякова Татьяна Михайловна</H2>
        <button>Список студентов</button>
    </div>
    <button style="margin: 40px; font-weight:900; padding: 20px;">Добавить курс</button>


    <style>
        body{
            height: 100vh;
            box-sizing: border-box;
            padding: 0;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        button{
            border: none;
            border-radius: 10px;
            text-decoration: none;
            color: white;
            background: #0B63F6;
            padding: 10px;
        }

        button:hover{
            cursor: pointer;
        }

        .course{
            width: 80%;
            border: 1px solid black;
            /* margin-left: auto;
            margin-right: auto ; */
            margin-top: 30px;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</body>
</html>